@model StudentPlanner.Models.Assignments

@{
    ViewBag.Title = "Details";
}

<h2>Assignment Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
